header {
    background-color: #575968;
    margin-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;    
    align-items: center;
    
    .header_container{
       
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 65.6623376vw;

   
    img {
        margin-left: 10px;
    }
    .menu {
  
        width: 100%;
        display: flex;
        justify-content: space-around;
        }
            
        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }
    }
}

