header {
    background-color: #575968;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    @media all and (max-width: 768px) {

        img{
            margin-top: 1.5vh;
            width: 80%;
            height: auto;
        }
    }
    .header_container{       
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 65.6623376vw;
    .menu {
        display: flex;
        justify-content: space-between;
        }            
        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }
    }
    @media all and (max-width: 768px) {
        .header_container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 65.6623376vw;
            height: 100%;

        }
        .menu{
            margin-top: 2vh;
        }
}

}

